:root{
    --primaryClr:#BABABA;
    --secondaryClr:#303030;
}

@font-face {
    font-family: "FiraLight";
    src: url("/fonts/FiraSans-Light.ttf");
}

@font-face {
    font-family: "FiraThin";
    src: url("/fonts/FiraSans-Thin.ttf");
}

@font-face {
    font-family: "FiraExtraLight";
    src: url("/fonts/FiraSans-ExtraLight.ttf");
}

@font-face {
    font-family: "FiraSemiBold";
    src: url("/fonts/FiraSans-SemiBold.ttf");
}

@font-face {
    font-family: "FiraRegular";
    src: url("/fonts/FiraSans-Regular.ttf");
}

@font-face {
    font-family: 'Material Symbols Outlined';
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/material-icons.woff2") format('woff2');
}

body{
    background-attachment: fixed;
    opacity: 0;
    background-color: #000;
    align-items: center;
    text-align: center;
    user-select: none;
    font-family: "FiraLight";
    margin: 0;
    overflow: hidden;
    padding: 0;
    transition: all .2s;
}

.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 2.4vw;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

.titleText{
    font-size: 10vw;
    color: #BEBEBE;
    font-family: "FiraSemiBold";
}

#shortcuts {
    position: relative;
    overflow-y: scroll;
}

.text{
    font-family: 'FiraRegular';
    font-size: 5vw;
    color:#BABABA;
    margin: 0;
}

.settingsPopup{
    padding: 8vw;
    padding-bottom: 5vw;
    align-items: normal;
    text-align: left;
}

input{
    margin-top: 2vw;
    margin-bottom: 2vw;
}


input[type="color"] {
    color: rgba(0,0,0,0);
    width:5vw;
    height:5vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    background-color: transparent;
    cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    color: rgba(0,0,0,0);
    width:5vw;
    height:5vw;
    padding: 0;
    margin: 0;
}
input[type="color"]::-webkit-color-swatch {
    outline:none;
    text-decoration: none;
    border: 1px solid rgba(255, 255, 255, 0.14);
    color: rgba(0,0,0,0);
    border-radius: 100vw;
    width:5vw;
    height:5vw;
}

input[type="checkbox"] {
    accent-color: var(--primaryClr);
}

#shortcutAddr {
    font-family: 'FiraLight';
    display: inline-block;
    padding-left:3vw;
    padding-right:3vw;
    color:#BABABA;
    height: 6vh;
    width: 50vw;
    border: 1px solid #696969;
    border-top: 0px;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.14);
    margin-right: 0;
}

#shortcutAddr:focus {
    outline:none;
    box-shadow: none;
}

#shortcutName {
    font-family: 'FiraLight';
    padding-left:3vw;
    padding-right:3vw;
    color:#BABABA;
    height: 6vh;
    width: 50vw;
    border: 1px solid #696969;
    border-bottom: 0px;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.14);
    margin-right: 0;
}

#shortcutName:focus {
    outline:none;
    box-shadow: none;
}

#resetBt{
    width: 72vw;
    background: rgba(39, 39, 39, 0.14);
    border: 1px solid #696969;
}

#resetBt:hover{
    background-color: rgba(255, 255, 255, 0.1);
}

.longButton{
    font-family: 'FiraLight';
    align-self: center;
    cursor: pointer;
    height: 6vh;
    width: 50vw;
    color: #BABABA;
    text-decoration: none;
    border-radius: 10px;
    margin: 2vw;
    background: rgba(255, 255, 255, 0.14);
    border: 1px solid #696969;
    backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all .2s;
}

.longButton:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.iconButton{
    font-family: 'FiraLight';
    text-align: center;
    align-self: center;
    display: inline-block;
    height: 6vh;
    width: 6vh;
    padding: .6vh;
    color: #BABABA;
    text-decoration: none;
    border-radius: 10px;
    margin: 2vw;
    background: rgba(255, 255, 255, 0.14);
    border: solid 1px rgba(82, 81, 81, 0.14);
    backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all .2s;
}

.iconButton:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.shortcutItem {
    font-family: 'FiraLight';
    padding-left:3vw;
    padding-right:3vw;
    color:#BABABA;
    height: 6vh;
    width: 47vw;
    border:none;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.14);
    margin-right: 0;
}

.deleteShortcutButton {
    justify-content: left;
    display: inline-block;
    font-family: 'FiraLight';
    border-radius: 10px;
    height: 6vh;
    color: #BABABA;
    text-decoration: none;
    margin:0;
    background: rgba(255, 255, 255, 0.14);
    border: none;
    backdrop-filter: saturate(180%) blur(5px);
    -webkit-backdrop-filter: blur(5px);
    transition: all .2s;
}

.shortcutItem:focus {
    outline:none;
    box-shadow: none;
}

.deleteShortcutButton:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

::-webkit-file-upload-button {
    border: none;
    padding: 3vw;
    border-radius: 10px 0 0 10px;
    margin-right: 2vw;
    color: #BABABA;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 100%;
    cursor: pointer;
}

#bgImgSelector {
    width: 80vw;
    border: none;
    color:#BABABA;
    background-color: rgba(255, 255, 255, 0.14);
    border-radius:10px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #303030;
    border-radius: 10px;
    transition: all .2s;
}

::-webkit-scrollbar-thumb:hover {
    background: #202020;
}

#location {
    font-family: 'FiraLight';
    padding-left:3vw;
    padding-right:3vw;
    color:#BABABA;
    height: 6vh;
    width: 50vw;
    border:none;
    border-radius: 10px 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.14);
    margin-right: 0;
}

#location:focus {
    outline:none;
    box-shadow: none;
}

select {
    outline: 0;
    font-family: 'FiraLight';
    color: #BABABA;
    background: #222222;
    background-image: none;
    border: 1px solid #696969;
    width:70vw;
    border-radius: 10px;
    padding: 2vw;
    margin: 3vw;
    cursor: pointer;
}

select:hover{
    background:var(--secondaryClr);
}

.iconTextButton{
    font-family: 'FiraLight';
    font-size: 3.4vw;
    display: inline-block;
    width: 18vw;
    height: 18vw;
    padding:7vw;
    margin:3vw;
    color: #BABABA;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid #696969;
    transition: all .2s ease-in-out;
}

.iconTextButton:hover{
    background-color: rgba(255, 255, 255, 0.2);
}